In [1]:
import pandas as pd
from sqlalchemy.engine import create_engine
import pymysql
from urllib.parse import quote_plus
from sqlalchemy_utils import create_database,database_exists
from sqlalchemy.types import *
from tqdm.notebook import tqdm_notebook
username = 'root'
password = '*********' # Using the quote function to make the password compatible
db_name = "movies"
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)

In [2]:
df = pd.read_csv('Data/refined_basics.csv')
df

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,33802,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
1,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,39544,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
3,43546,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
4,49493,tt0050396,short,Final Curtain,Final Curtain,0,2012.0,NaN,20,"Horror,Short"
...,...,...,...,...,...,...,...,...,...,...
622988,10016699,tt9916204,tvEpisode,Better Angels,Better Angels,0,2019.0,NaN,42,"Drama,Thriller"
622989,10016704,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short"
622990,10016724,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult
622991,10016770,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History
622992,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [3]:
df.drop(columns="Unnamed: 0", inplace = True)
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
3,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
4,tt0050396,short,Final Curtain,Final Curtain,0,2012.0,NaN,20,"Horror,Short"
...,...,...,...,...,...,...,...,...,...
622988,tt9916204,tvEpisode,Better Angels,Better Angels,0,2019.0,NaN,42,"Drama,Thriller"
622989,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short"
622990,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult
622991,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History
622992,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [4]:
def get_movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    for country in releases['countries']:
        if country['iso_3166_1'] == 'US':
            info['certification'] = country['certification']
    return info

In [5]:
df['genres'].value_counts()

Drama,Short                    45417
Comedy,Short                   35875
Documentary                    35442
Adult                          32609
Short                          29733
                               ...
Adventure,Animation,Western        1
Fantasy,Sci-Fi,Western             1
Family,Game-Show,Sport             1
Biography,Family,Mystery           1
Animation,Short,Talk-Show          1
Name: genres, Length: 1858, dtype: int64

In [6]:
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short,[Short]
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
2,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short,[Short]
3,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short,[Short]
4,tt0050396,short,Final Curtain,Final Curtain,0,2012.0,NaN,20,"Horror,Short","[Horror, Short]"
...,...,...,...,...,...,...,...,...,...,...
622988,tt9916204,tvEpisode,Better Angels,Better Angels,0,2019.0,NaN,42,"Drama,Thriller","[Drama, Thriller]"
622989,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short","[Drama, Short]"
622990,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult,[Adult]
622991,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History,[History]
622992,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short,Short
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
2,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short,Short
...,...,...,...,...,...,...,...,...,...,...
622989,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short",Short
622990,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult,Adult
622991,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History,History
622992,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
622992,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [8]:
for movie_id in tqdm_notebook(test_ids):
    try:
        movie_info = get_movie_with_rating(movie_id)
        budget.append(movie_info['budget'])
        revenue.append(movie_info['revenue'])
        certification.append(movie_info['certification'])
    except Exception as e:
        errors.append([movie_id, e])

NameError: name 'test_ids' is not defined

In [9]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

In [ ]:
# Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
exploded_genres['genres_split'] = exploded_genres['genres_split'].map(genre_map)
exploded_genres

In [ ]:
title_genres=exploded_genres[['tconst', 'genres_split']].copy()

In [ ]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))

In [ ]:
genre_lookup = pd.DataFrame({'Genre_Name':genre_id_map.keys(),
                             'Genre_ID':genre_id_map.values()})

In [ ]:
genre_lookup.head()

In [ ]:
connection

In [ ]:
q = """SHOW TABLES"""
pd.read_sql(q, connection)

In [ ]:
df_schema={
    "genre_id":INTEGER(),
    "genre_name":VARCHAR(11)
}

In [ ]:
genre_lookup.to_sql("genres",connection, dtype=df_schema,index=False,if_exists='replace')

In [ ]:
title_schema = {
    "tconst":VARCHAR(10),
    "genre_id":INTEGER()
}

In [ ]:
title_genres.to_sql('title_genres', connection ,dtype=title_schema, index=False, if_exists='replace')

In [ ]:
q="""Show tables"""
pd.read_sql(q,connection)

In [ ]:
tables = ['genres', 'ratings', 'title_basics', 'title_genres', 'tmdb_data']

In [ ]:
q = """SELECT * FROM genres LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM ratings LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM title_basics LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM title_genres LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM tmdb_data LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
tmdb_data = pd.read_csv('tmdb_results_combined.csv')

In [ ]:
tmdb_data.head()

In [ ]:
tmdb_data_2 = tmdb_data[["imdb_id", "budget", "revenue", "certification"]]

In [ ]:
tmdb_data_2

In [ ]:
tmdb_data_2 = tmdb_data_2.drop_duplicates()
tmdb_data_2.duplicated().sum()

In [ ]:
tmdb_data_2.to_sql('tmdb_data',connection,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (imdb_id(10));')

In [ ]:
q = """DESCRIBE tmdb_data"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM tmdb_data LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
engine.execute('ALTER TABLE ratings ADD PRIMARY KEY (tconst(10));')

In [ ]:
q = """DESCRIBE ratings"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM ratings LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """DESCRIBE title_basics"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM title_basics LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (Genre_ID);')

In [ ]:
q = """DESCRIBE genres"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM genres LIMIT 5"""
pd.read_sql(q, connection)

In [ ]:
q = """DESCRIBE title_genres"""
pd.read_sql(q, connection)

In [ ]:
q = """SELECT * FROM title_genres LIMIT 5"""
pd.read_sql(q, connection)