In [1]:
import pandas as pd
from sqlalchemy.engine import create_engine
import pymysql
from urllib.parse import quote_plus
from sqlalchemy_utils import create_database,database_exists
from sqlalchemy.types import *
from tqdm.notebook import tqdm_notebook
username = 'root'
password = '2024Fever.56' # Using the quote function to make the password compatible
db_name = "movies"
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)

In [2]:
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [3]:
conn = engine.connect()

In [4]:
q = """SHOW TABLES"""
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [5]:
q = """DESCRIBE ratings"""
pd.read_sql(q, conn)

                 Field         Type Null  Key Default Extra
0               tconst  varchar(55)   NO  PRI    None
1       average_rating          int  YES         None
2      number_of_votes          int  YES         None
3  title_basics_tconst  varchar(55)   NO         None

In [6]:
q = """DESCRIBE title_basics"""
pd.read_sql(q, conn)

           Field         Type Null  Key Default Extra
0         tconst  varchar(55)   NO  PRI    None
1  primary_title  varchar(55)  YES         None
2     start_year          int  YES         None
3        rumtime          int  YES         None

In [7]:
q = """DESCRIBE genres"""
pd.read_sql(q, conn)

        Field         Type Null  Key Default Extra
0    genre_id  varchar(55)   NO  PRI    None
1  genre_name  varchar(55)  YES         None

In [8]:
q = """DESCRIBE title_genres"""
pd.read_sql(q, conn)

                 Field         Type Null Key Default Extra
0      genres_genre_id  varchar(55)   NO        None
1  title_basics_tconst  varchar(55)   NO        None

In [9]:
titles = pd.read_csv("Data/refined_basics.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Data/refined_basics.csv'

In [ ]:
ratings =  pd.read_csv("Data/refined_ratings.csv")

In [ ]:
titles.columns

In [ ]:
titles.info()

In [ ]:
q = """DESCRIBE title_basics"""
pd.read_sql(q, conn)

In [ ]:
ratings.info()

In [ ]:
titles_sql = titles[["tconst","primary_title", "start_year", "runtime"]]
titles_sql['ratings_tconst'] = ratings['tconst']
titles_sql

In [ ]:
titles_sql.to_sql("title_basics", conn, index=False, if_exists='append')

In [ ]:
q = """SELECT * FROM title_basics"""
pd.read_sql(q, conn)

In [ ]:
ratings.head()

In [ ]:
q = """DESCRIBE ratings"""
pd.read_sql(q, conn)

In [ ]:
q = """SELECT * FROM ratings"""
pd.read_sql(q, conn)

In [ ]:
q = """SHOW TABLES"""
pd.read_sql(q, conn)

In [ ]:
q = """DESCRIBE genres"""
pd.read_sql(q, conn)

In [ ]:
q = """DESCRIBE ratings"""
pd.read_sql(q, conn)

In [ ]:
q = """DESCRIBE title_basics"""
pd.read_sql(q, conn)

In [ ]:
q = """DESCRIBE title_genres"""
pd.read_sql(q, conn)

In [ ]:
q = 'SELECT * FROM title_basics LIMIT 5'
pd.read_sql(q, conn)

In [ ]:
q = 'SELECT * FROM ratings LIMIT 5'
pd.read_sql(q, conn)

In [ ]:
q = 'SELECT * FROM ratings LIMIT 5'
pd.read_sql(q, conn)